@font-face {
	font-family: 'e-Ukraine';
	font-display: swap;
	src: url('../fonts/e-Ukraine-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'e-Ukraine';
	font-display: swap;
	src: url('../fonts/e-Ukraine-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'e-Ukraine';
	font-display: swap;
	src: url('../fonts/e-Ukraine-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
