$font-main: 'e-Ukraine', sans-serif;

$black: #000000;
$white: #f7fefc;
$green: #c3e5dd;
$grey: #465250;
$disBut: #859c96;
$input: #a4c0ba;
$red: #ff3800;
$gradient: linear-gradient(180deg, #c3e5dd 25%, #f3eacb 100%);
